*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.2s ease;
}

.nav{
  background-color: #10192d ;
  color: white;
  font-size: 30px;
  
}

.nav h1{
  width: 100%;
  text-align: center;
  line-height: 68px;
  cursor: pointer;
  font-weight: 400;
  height: 10vh;
}

.nav h1 i {
  margin-right: 8px;
}

#song-display{
  background-color: #314155;
}

/* song detail  */
.song-detail{
  height: 80vh;
  overflow: hidden;
  padding: 20px;
  background-color:#314155 ;
  color: white;
}

.song-detail .song-desc{
  color: #328d73;
}

.song-detail .img-container {
  margin-top: 100px;
  text-align: center
}

.song-detail .img-container img{
  width: 200px ;
  height: 200px;
}

.song-detail .img-info {
  margin: 40px 80px 80px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-detail .img-info img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* song list  */
.song-list {
  padding: 20px 0; 
  max-height: 90vh;
  max-width: 100%;
  overflow: scroll;
  overflow-x: hidden ;

}

.text-active {
  color: #328d73 !important;
}

.song-list::before {
  width: 110%;
  height: 20px;
  background-color: #314155;
  content: "";
  display: block;
  position: relative;
  top: 5px;  
}

.song-list .table{
  background-color: #1e283c;
  color: white;
}
 td.song-name {
  width: 300px ;
}

.song-list .table tr{
  cursor: pointer;
}

.song-list .table tbody tr:hover {
  opacity: 0.4;
}

.white-color {
  color: white !important;
}

/* playing  */
.playing {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


